<!DOCTYPE html>
<html>

<br>
<head>
<style>
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .button {
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
    padding: 20px;
    transition-duration: 0.4s;
    display: block;
    margin: 0 auto;
  }
  .button:hover {
    background-color: #04AA6D;
    color: white;
  }
  input {
    font-size: 20px;
    border: 2px solid pink;
    border-radius: 4px;
    padding: 20px;
  }
  .center {
    text-align: center;
  }
</style>
</head> 

<div style="padding-left:16px"></div>
<div class="center">
  <h1>Register for CallAssure Here</h1>
<form action="" method="post">
    <input type="text" placeholder="First Name" name="first_name" value="{{ request.form.first_name }}">

    <input type="text" placeholder="Last Name" name="last_name" value="{{ request.form.last_name }}">
    
    <h2> </h2>
    <input type="email" placeholder="email" name="email" value="{{ request.form.email }}">

    <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
    
    <h2> </h2>
    <input type="tel" placeholder="Phone Number" name="phonenumber" pattern="\d{3}-\d{3}-\d{4}" value="{{ request.form.phonenumber }}">
    
    <h2> </h2>


    <input class="button" type="submit" value="Register"></button>
</form>
<!-- errors -->
{% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
{% endif %}

<!-- messages -->
{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}

</div>

</body>